<html>
  <head>
    <title>Streaming experiment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="padding-top: 100px">
        <div class="col-md-4">
            <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
              <a href="movie/<%= JSON.parse(data)[0].title %>">
                <img src="<%=JSON.parse(data)[0].cover%>"/>
                <p><%=JSON.parse(data)[0].title%></p>
              </a>
            </div>
        </div>
        <div class="col-md-4">
          <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
            <a href="movie/<%= JSON.parse(data)[1].title %>">
              <img src="<%=JSON.parse(data)[1].cover%>"/>
              <p><%=JSON.parse(data)[1].title%></p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
            <a href="movie/<%= JSON.parse(data)[1].title %>">
              <img src="<%=JSON.parse(data)[1].cover%>"/>
              <p><%=JSON.parse(data)[1].title%></p>
            </a>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 100px">
        <div class="col-md-4">
            <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
              <a href="movie/<%= JSON.parse(data)[0].title %>">
                <img src="<%=JSON.parse(data)[0].cover%>"/>
                <p><%=JSON.parse(data)[0].title%></p>
              </a>
            </div>
        </div>
        <div class="col-md-4">
          <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
            <a href="movie/<%= JSON.parse(data)[1].title %>">
              <img src="<%=JSON.parse(data)[1].cover%>"/>
              <p><%=JSON.parse(data)[1].title%></p>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div style="width: 200px;height: 350px;margin: 0px 10px 10px 0px;display: inline-block;">
            <a href="movie/<%= JSON.parse(data)[1].title %>">
              <img src="<%=JSON.parse(data)[1].cover%>"/>
              <p><%=JSON.parse(data)[1].title%></p>
            </a>
          </div>
        </div>
      </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
